name: SonarCloud

on:
  push:
    branches:
      - dev

  pull_request:
    branches:
      - dev
      - main

jobs:
  sonar:
    uses: icebergdata-io/sonarqube-workflow/.github/workflows/sonarcloud-python.yml@main
    secrets: inherit
    with:
      organization: icebergdata-io
      projectKey: ${{ github.event.repository.name }}
      fail-on-tests: false
